---
import type { GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import IndexList from '~/components/ui/IndexList.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: 'D20 Resources',
  openGraph: {
    type: 'blog',
  },
};

const modernD20: [string, string][] = [
  ['Basics', 'modern-d20-srd-basics-index'],
  ['FX Items', 'modern-d20-srd-fx-items-index'],
  ['Classes', 'modern-d20-srd-classes-index'],
  ['Ordinaries', 'modern-d20-srd-ordinaries-index'],
  ['Combat', 'modern-d20-srd-combat-index'],
  ['Psionics', 'modern-d20-srd-psionics-index'],
  ['Condition Summary', 'modern-d20-srd-conditions-index'],
  ['Reputation', 'modern-d20-srd-reputation-index'],
  ['Creature Types', 'modern-d20-srd-creature-types-index'],
  ['Skills', 'modern-d20-srd-skills-index'],
  ['Creatures', 'modern-d20-srd-creatures-index'],
  ['Special Abilities', 'modern-d20-srd-special-abilities-index'],
  ['Environment & Hazards', 'modern-d20-srd-environment-hazards-index'],
  ['Starting Occupation', 'modern-d20-srd-starting-occupation-index'],
  ['Equipment', 'modern-d20-srd-equipment-index'],
  ['Vehicle Movement and Combat', 'modern-d20-srd-vehicle-movement-and-combat-index'],
  ['Feats', 'modern-d20-srd-feats-index'],
  ['Wealth', 'modern-d20-srd-wealth-index'],
  ['FX', 'modern-d20-srd-fx-index'],
];

const futureD20: [string, string][] = [
  ['Classes', 'future-d20-srd-classes-index'],
  ['Progress Levels', 'future-d20-srd-progress-levels-index'],
  ['Cybernetics', 'future-d20-srd-cybernetics-index'],
  ['Robots', 'future-d20-srd-robots-index'],
  ['Environments', 'future-d20-srd-environments-index'],
  ['Scientific Engineering', 'future-d20-srd-scientific-engineering-index'],
  ['Equipment', 'future-d20-srd-equipment-index'],
  ['Starships', 'future-d20-srd-starships-index'],
  ['Expanded Skills', 'future-d20-srd-expanded-skills-index'],
  ['Starting Occupations', 'future-d20-srd-starting-occupations-index'],
  ['Feats', 'future-d20-srd-feats-index'],
  ['Traveler Science', 'future-d20-srd-traveler-science-index'],
  ['Mecha', 'future-d20-srd-mecha-index'],
  ['Vehicles', 'future-d20-srd-vehicles-index'],
  ['Mutations', 'future-d20-srd-mutations-index'],
  ['Xenobiology', 'future-d20-srd-xenobiology-index'],
];

const arcanaD20: [string, string][] = [
  ['Advanced Classes', 'arcana-d20-srd-advanced-classes-index'],
  ['Occupations', 'arcana-d20-srd-occupations-index'],
  ['Creatures', 'arcana-d20-srd-creatures-index'],
  ['Organizations', 'arcana-d20-srd-organizations-index'],
  ['Equipment', 'arcana-d20-srd-equipment-index'],
  ['Prestige Classes', 'arcana-d20-srd-prestige-classes-index'],
  ['Feats', 'arcana-d20-srd-feats-index'],
  ['Psionics', 'arcana-d20-srd-psionics-index'],
  ['FX Items', 'arcana-d20-srd-fx-items-index'],
  ['Shadowkind', 'arcana-d20-srd-shadowkind-index'],
  ['Incantations', 'arcana-d20-srd-incantations-index'],
  ['Spells', 'arcana-d20-srd-spells-index'],
];

const menacesD20 = [
  ['Buying Services', 'menaces-d20-buying-services-index'],
  ['Feats', 'menaces-d20-feats-index'],
  ['Menaces', 'menaces-d20-menaces-index'],
];
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Hero>
      <Fragment slot="title">
        <span class="text-accent dark:text-white highlight">D20 Resources</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span class="hidden sm:inline"> It was created with the idea of making playing d20 games easier. </span>
      </Fragment>
    </Hero>

    <div class="flex flex-col gap-8">
      <IndexList id="modernD20" title="Modern D20" data={modernD20} />
      <IndexList id="futureD20" title="Future D20" data={futureD20} />
      <IndexList id="arcanaD20" title="Arcana D20" data={arcanaD20} />
      
      <div id="menacesD20" class="flex flex-col gap-4">
        <h2 class="text-4xl text-primary font-bold">D20 Menaces</h2>
        <ul class="grid gap-1">
          {menacesD20.map(([title, href]) => (
            <li class="border p-2 hover:border-accent group">
              <a class="block w-full h-full font-light group-hover:font-semibold" href={href}>
                {title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>

        <!-- Bookmark Downloads Section -->
        <div class="webmaster-note my-8 p-6 border border-gray-300 rounded">
          <h2 class="text-2xl font-bold">Simple Bookmark Downloads:</h2>
          <p>
            <a href="/bookmark.html" download="bookmark.html" class="text-blue-500 hover:underline">
              Entire Site
            </a>            
          </p>
          <p>
            <a href="/modern.d20.srd.html" download="modern.d20.srd.html" class="text-blue-500 hover:underline">
              Modern D20 SRD
            </a>     
            (<a href="bookmarks-index" class="text-blue-500 hover:underline">Instructions</a>)
          </p>
          <p>
            <a href="/future.d20.srd.html" download="future.d20.srd.html" class="text-blue-500 hover:underline">
              Future D20 SRD
            </a>            
          </p>          <p>
            <a href="/arcana.d20.srd.html" download="arcana.d20.srd.html" class="text-blue-500 hover:underline">
              Arcana D20 SRD
            </a>            
          </p>          
          <p>
            <a href="/d20.menaces.html" download="d20.menaces.html" class="text-blue-500 hover:underline">
              D20 Menaces 
            </a>            
          </p>
        </div>
    
        <!-- Webmaster's Note -->
        <div class="webmaster-note my-8 p-6 border border-gray-300 rounded">
          <h2 class="text-xl font-bold">Webmaster's Note</h2>
          <p>d20resources.com was created with the idea of making playing d20 games easier. There are tons of incredible rpg books available for reference; I should know, I (like many of you I would assume) have shelves full of them. The problem is that with all of this reference material, sometimes it's simply too cumbersome to have every book on hand and available when I just need a quick rule fast. Short of memorizing page numbers, I needed a better way to look up rules and stats so that my players didn't have to wait for me to find something common.

            My solution is this website. Right now I'm beginning to run a d20 Modern campaign via webcam so I'm constantly in front of my computer. Because of that, I've rebuilt the Modern d20 System Reference Documentation as a series of web pages, utilizing indexing and cross-linking that a book simply can't provide. Thanks to the OGL, the central game engine is available to be used in just such a way. This site will in no way substitute the complete text of any of the actual books, but for looking up a spell or a weapon it does well in a pinch. I'm making this tool public as a way of giving back to a community that I've had the fortune of being a part of for nearly 20 years.
            
            The Modern SRD is just the beginning though. I'd like to combine as many other OGL systems as time permits to expand the reference library this site can provide. Ultimately, I'd like this site to be one more resource for the average gamer to utilize in their games; so they can spend less time digging, and more time playing.
            
            If you happen to know of an open system that this kind of website could benefit from, please send me a note and I'll be happy to take a look. I'd love to have a variety of reference sites available to users. If this site has helped you, I'd love to hear from you, and I'd appreciate a kind word to the members of your group.
            
            I think there comes a time in every gamer's life where they either turn away from role playing games as a childish endeavour, or embrace them as something that they'll enjoy for the rest of their lives. For those of us who are growing older and losing that precious commodity of free time, this site is for you. Here's to hoping that you'll gain back some of that free time and put it into what's important: playing the game.
            
            </p>
          <p>- Brendan Quinn</p>
        </div>
  </section>
</Layout>