---
import type { GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import IndexList from '~/components/ui/IndexList.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: 'D20 Resources',
  openGraph: {
    type: 'blog',
  },
};

const modernD20: [string, string][] = [
  ['Basics', '/modern.d20.srd/basics'],
  ['FX Items', '/modern.d20.srd/fx.items'],
  ['Classes', '/modern.d20.srd/classes'],
  ['Ordinaries', '/modern.d20.srd/ordinaries'],
  ['Combat', '/modern.d20.srd/combat'],
  ['Psionics', '/modern.d20.srd/psionics'],
  ['Condition Summary', '/modern.d20.srd/conditions'],
  ['Reputation', '/modern.d20.srd/reputation'],
  ['Creature Types', '/modern.d20.srd/creature.types'],
  ['Skills', '/modern.d20.srd/skills'],
  ['Creatures', '/modern.d20.srd/creatures'],
  ['Special Abilities', '/modern.d20.srd/special.abilities'],
  ['Environment & Hazards', '/modern.d20.srd/environment.hazards'],
  ['Starting Occupation', '/modern.d20.srd/starting.occupation'],
  ['Equipment', '/modern.d20.srd/equipment'],
  ['Vehicle Movement and Combat', '/modern.d20.srd/vehicle.movement.and.combat'],
  ['Feats', '/modern.d20.srd/feats'],
  ['Wealth', '/modern.d20.srd/wealth'],
  ['FX', '/modern.d20.srd/fx'],
];

const futureD20: [string, string][] = [
  ['Classes', '/future.d20.srd/classes'],
  ['Progress Levels', '/future.d20.srd/progress.levels'],
  ['Cybernetics', '/future.d20.srd/cybernetics'],
  ['Robots', '/future.d20.srd/robots'],
  ['Environments', '/future.d20.srd/environments'],
  ['Scientific Engineering', '/future.d20.srd/scientific.engineering'],
  ['Equipment', '/future.d20.srd/equipment'],
  ['Starships', '/future.d20.srd/starships'],
  ['Expanded Skills', '/future.d20.srd/expanded.skills'],
  ['Starting Occupations', '/future.d20.srd/starting.occupations'],
  ['Feats', '/future.d20.srd/feats'],
  ['Traveler Science', '/future.d20.srd/traveler.science'],
  ['Mecha', '/future.d20.srd/mecha'],
  ['Vehicles', '/future.d20.srd/vehicles'],
  ['Mutations', '/future.d20.srd/mutations'],
  ['Xenobiology', '/future.d20.srd/xenobiology'],
];

const arcanaD20: [string, string][] = [
  ['Advanced Classes', '/arcana.d20.srd/advanced.classes'],
  ['Occupations', '/arcana.d20.srd/occupations'],
  ['Creatures', '/arcana.d20.srd/creatures'],
  ['Organizations', '/arcana.d20.srd/organizations'],
  ['Equipment', '/arcana.d20.srd/equipment'],
  ['Prestige Classes', '/arcana.d20.srd/prestige.classes'],
  ['Feats', '/arcana.d20.srd/feats'],
  ['Psionics', '/arcana.d20.srd/psionics'],
  ['FX Items', '/arcana.d20.srd/fx.items'],
  ['Shadowkind', '/arcana.d20.srd/shadowkind'],
  ['Incantations', '/arcana.d20.srd/incantations'],
  ['Spells', '/arcana.d20.srd/spells'],
];

const menacesD20 = [
  ['Buying Services', '/menaces.d20/buying.services'],
  ['Feats', '/menaces.d20/feats'],
  ['Menaces', '/menaces.d20/menaces'],
];

---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Hero>
      <Fragment slot="title">
        <span class="text-accent dark:text-white highlight">D20 Resources</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span class="hidden sm:inline"> It was created with the idea of making playing d20 games easier. </span>
      </Fragment>
    </Hero>

    <div class="flex flex-col gap-8">
      <div id="modernD20link" style="position: relative; top: -80px;"></div>
      <IndexList id="modernD20" title="Modern D20" data={modernD20} />
      <div id="futureD20link" style="position: relative; top: -80px;"></div>
      <IndexList id="futureD20" title="Future D20" data={futureD20} />
      <div id="arcanaD20link" style="position: relative; top: -80px;"></div>
      <IndexList id="arcanaD20" title="Arcana D20" data={arcanaD20} />
      <div id="menacesD20link" style="position: relative; top: -80px;"></div>
      <div id="menacesD20" class="flex flex-col gap-4">
        <h2 class="text-4xl text-primary font-bold">D20 Menaces</h2>
        <ul class="grid gap-1">
          {menacesD20.map(([title, href]) => (
            <li class="border p-2 hover:border-accent group">
              <a class="block w-full h-full font-light group-hover:font-semibold" href={href}>
                {title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>

        <!-- Bookmark Downloads Section -->
        <div class="webmaster-note my-8 p-6 border border-gray-300 rounded">
          <h2 class="text-2xl font-bold">Simple Bookmark Downloads:</h2>
          <p>
            <a href="bookmarks/EntireSite_Bookmarks.html" download="EntireSite_Bookmarks.html" class="text-blue-500 hover:underline">
              Entire Site
            </a>            
          </p>
          <p>
            <a href="/bookmarks/Modern_D20_Bookmarks.html" download="Modern_D2_Bookmarks.html" class="text-blue-500 hover:underline">
              Modern D20 SRD
            </a>     
            (<a href="/bookmarks" class="text-blue-500 hover:underline">Instructions</a>)
          </p>
          <p>
            <a href="/bookmarks/Future_D20_Bookmarks.html" download="Future_D20_Bookmarks.html" class="text-blue-500 hover:underline">
              Future D20 SRD
            </a>            
          </p>          <p>
            <a href="/bookmarks/Arcana_D20_Bookmarks.html" download="Arcana_D20_Bookmarks.html" class="text-blue-500 hover:underline">
              Arcana D20 SRD
            </a>            
          </p>          
          <p>
            <a href="/bookmarks/Menaces_D20_Bookmarks.html" download="Menaces_D20_Bookmarks.html" class="text-blue-500 hover:underline">
              Menaces D20
            </a>            
          </p>
        </div>
  </section>
</Layout>