---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import IndexList from '~/components/ui/IndexList.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};

const modernD20: [string, string][] = [
  ["Basics", "modern-d20-srd-basics-index"],
  ["FX Items", "modern-d20-srd-fx-items-index"],
  ["Classes", "modern-d20-srd-classes-index"],
  ["Ordinaries", "modern-d20-srd-ordinaries-index"],
  ["Combat", "modern-d20-srd-combat-index"],
  ["Psionics", "modern-d20-srd-psionics-index"],
  ["Condition Summary", "modern-d20-srd-conditions-index"],
  ["Reputation", "modern-d20-srd-reputation-index"],
  ["Creature Types", "modern-d20-srd-creature-types-index"],
  ["Skills", "modern-d20-srd-skills-index"],
  ["Creatures", "modern-d20-srd-creatures-index"],
  ["Special Abilities", "modern-d20-srd-special-abilities-index"],
  ["Environment & Hazards", "modern-d20-srd-environment-hazards-index"],
  ["Starting Occupation", "modern-d20-srd-starting-occupation-index"],
  ["Equipment", "modern-d20-srd-equipment-index"],
  ["Vehicle Movement and Combat", "modern-d20-srd-vehicle-movement-and-combat-index"],
  ["Feats", "modern-d20-srd-feats-index"],
  ["Wealth", "modern-d20-srd-wealth-index"],
  ["FX", "modern-d20-srd-fx-index"],
];

const futureD20: [string, string][] = [
  ["Classes", "future-d20-srd-classes-index"],
  ["Progress Levels", "future-d20-srd-progress-levels-index"],
  ["Cybernetics", "future-d20-srd-cybernetics-index"],
  ["Robots", "future-d20-srd-robots-index"],
  ["Environments", "future-d20-srd-environments-index"],
  ["Scientific Engineering", "future-d20-srd-scientific-engineering-index"],
  ["Equipment", "future-d20-srd-equipment-index"],
  ["Starships", "future-d20-srd-starships-index"],
  ["Expanded Skills", "future-d20-srd-expanded-skills-index"],
  ["Starting Occupations", "future-d20-srd-starting-occupations-index"],
  ["Feats", "future-d20-srd-feats-index"],
  ["Traveler Science", "future-d20-srd-traveler-science-index"],
  ["Mecha", "future-d20-srd-mecha-index"],
  ["Vehicles", "future-d20-srd-vehicles-index"],
  ["Mutations", "future-d20-srd-mutations-index"],
  ["Xenobiology", "future-d20-srd-xenobiology-index"],
];

const arcanaD20: [string, string][] = [
  ["Advanced Classes", "arcana-d20-srd-advanced-classes-index"],
  ["Occupations", "arcana-d20-srd-occupations-index"],
  ["Creatures", "arcana-d20-srd-creatures-index"],
  ["Organizations", "arcana-d20-srd-organizations-index"],
  ["Equipment", "arcana-d20-srd-equipment-index"],
  ["Prestige Classes", "arcana-d20-srd-prestige-classes-index"],
  ["Feats", "arcana-d20-srd-feats-index"],
  ["Psionics", "arcana-d20-srd-psionics-index"],
  ["FX Items", "arcana-d20-srd-fx-items-index"],
  ["Shadowkind", "arcana-d20-srd-shadowkind-index"],
  ["Incantations", "arcana-d20-srd-incantations-index"],
  ["Spells", "arcana-d20-srd-spells-index"],
];

const menacesD20 = [
  ["Buying Services", "menaces-d20-buying-services-index"],
  ["Feats", "menaces-d20-feats-index"],
  ["Menaces", "menaces-d20-menaces-index"],
];

---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Hero>
      <Fragment slot="title">
        <span class="text-accent dark:text-white highlight">D20 Resources</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          It was created with the idea of making playing d20 games easier.
        </span> 
      </Fragment>
    </Hero>

    <div class="flex flex-col gap-8">
      
      <IndexList id="modernD20" title="Modern D20" data={modernD20} />
      <IndexList id="futureD20" title="Future D20" data={futureD20} />
      <IndexList id="arcanaD20" title="Arcana D20" data={arcanaD20} />
      <div id="menacesD20" class="flex flex-col gap-4">
        <h2 class="text-4xl text-primary font-bold">D20 Menaces</h2>
        <ul class="grid gap-1">
          {menacesD20.map(([title, href]) => (
            <li class="border p-2 hover:border-accent group">
              <a class="block w-full h-full font-light group-hover:font-semibold" {href}>{title}</a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    
  
  </section>
</Layout>
