---
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  footNote?: string;
  theme?: string;
}

const { links = [], footNote = '', theme = 'light' } = Astro.props;

// Split links into columns for better layout
const splitIntoColumns = (links: Array<any>, columnsCount = 2) => {
  const itemsPerColumn = Math.ceil(links.length / columnsCount);
  const columns = [];

  for (let i = 0; i < columnsCount; i++) {
    const start = i * itemsPerColumn;
    const end = start + itemsPerColumn;
    columns.push(links.slice(start, end));
  }

  return columns;
};
---

<div id="bookmarks" style="position: relative; top: -80px;"></div>
<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-300 dark:border-slate-800 not-prose']}>
  <div class="bg-white dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300 intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 gap-y-8 sm:gap-8 py-2 md:py-4">
      {
        links.map(({ title, links }, index) => {
          const columns = splitIntoColumns(links || [], 2);
          return (
            <div
              class={`col-span-1 px-4 first:pl-0 last:pr-0 ${index > 0 ? 'border-l border-gray-300 dark:border-slate-800' : ''}`}
            >
              <div class="dark:text-gray-300 font-medium mb-2">{title || '\u00A0'}</div>
              <div class="grid grid-cols-2 gap-x-4">
                {columns.map((columnLinks, columnIndex) => (
                  <div key={columnIndex}>
                    {columnLinks && Array.isArray(columnLinks) && columnLinks.length > 0 && (
                      <ul class="text-xs space-y-1">
                        {columnLinks.map(({ text, href, ariaLabel }) => (
                          <li>
                            <a
                              class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                              href={href}
                              aria-label={ariaLabel}
                            >
                              <Fragment set:html={text} />
                            </a>
                          </li>
                        ))}
                      </ul>
                    )}
                  </div>
                ))}
              </div>
            </div>
          );
        })
      }
      <div class="col-span-1 px-4 last:pr-0 border-l border-gray-300 dark:border-slate-800">
        <div class="dark:text-gray-300 font-medium mb-2">Bookmark Downloads</div>
        <div class="grid grid-cols-2 gap-x-4">
          <div>
            <ul class="text-xs space-y-1">
              <li>
                <a href="bookmarks/EntireSite_Bookmarks.html" download class="text-blue-500 hover:underline">
                  Entire Site
                </a>
              </li>
              <li>
                <a href="/bookmarks/Modern_D20_Bookmarks.html" download class="text-blue-500 hover:underline">
                  Modern D20 SRD
                </a>
              </li>
              <li>
                <a href="/bookmarks/Future_D20_Bookmarks.html" download class="text-blue-500 hover:underline">
                  Future D20 SRD
                </a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="text-xs space-y-1">
              <li>
                <a href="/bookmarks/Arcana_D20_Bookmarks.html" download class="text-blue-500 hover:underline">
                  Arcana D20 SRD
                </a>
              </li>
              <li>
                <a href="/bookmarks/Menaces_D20_Bookmarks.html" download class="text-blue-500 hover:underline">
                  Menaces D20
                </a>
              </li>
              <li>
                <a href="/bookmarks" class="text-blue-400 hover:underline"> (Instructions) </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="md:flex md:items-center md:justify-between py-1 md:py-2">
        <div class="text-sm mr-4 dark:text-muted">
          <Fragment set:html={footNote} />
        </div>
      </div>
    </div>
  </div>
</footer>
